/* google fonts import link  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.carousel-img {
  height: 584px;
}

@media only screen and (max-width: 575px) {
  .small_text {
    font-size: 24px;
  }
  .carousel-img {
    height: 485px;
  }
}
